:root {
    --color-btn-logout: #2e00fd;
    --color-hover-navbar: #000066;
    --color-input: #454444;
    --color-label: #000066;
    --color-bg-form: #F6F6F6;
    --font-size-custom: 14px;
    --width-sidebar-open: 250px;
    --width-sidebar-close: 60px;
}

.shadow {
    box-shadow: 3px 3px 5px 0 rgba(255, 255, 255, 01);
    /* Sombra en la parte inferior derecha */
}


/* Styles btn de update password */

.custom-btn {
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Styles active item SideBar */

.nav-pills li a.active {
    background-color: red !important;
    /* Cambia el color de fondo a rojo */
}

/* Styles btn de logout */

.btn_logout:hover {
    background-color: var(--color-hover-navbar);

}

.btn_logout {
    background-color: var(--color-btn-logout);
}

/* Styles SideBar */
.nav-pills li a:hover {
    background-color: var(--color-hover-navbar);
}

.button_open_close:hover {
    background-color: var(--color-hover-navbar);
}

/* Styles Login */

.bg-login {
    background-color: var(--color-bg-form);
}

.bg-blue {
    background-color: var(--color-label);
}

.fs-16px-login-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* El peso de la fuente para SemiBold suele ser 600 */
    color: var(--color-label);
}

.fs-16px-login-input {
    background-color: var(--color-bg-form);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--color-input)
}


.fs-24px {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-label);
}

.btn-login {
    /* Estilos generales para el botón */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    /* SemiBold */
    text-transform: uppercase;
    letter-spacing: 1.25px;
    color: white;
    /* Color inicial de la letra */
    background-color: var(--color-label);
    /* Color de fondo */
    padding: 8px 16px;
    /* Ajusta el padding según sea necesario */
}

.btn-login:hover {
    /* Cambio de color al pasar el cursor sobre el botón */
    background-color: white;
    border: 1px solid var(--color-label);
    /* Color del borde */
    color: var(--color-label);
}

.btn-calcular {
    /* Estilos generales para el botón */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    /* SemiBold */
    text-transform: uppercase;
    letter-spacing: 1.25px;
    color: white;
    /* Color inicial de la letra */
    background-color: gray;
    /* Color de fondo */
    padding: 8px 16px;
    /* Ajusta el padding según sea necesario */
}

.btn-calcular:hover {
    /* Cambio de color al pasar el cursor sobre el botón */
    background-color: white;
    border: 1px solid var(--color-label);
    /* Color del borde */
    color: var(--color-label);
}

.fs_custom {
    /* font-size: var(--font-size-custom); */
    /* Tamaño de fuente personalizado */
    text-justify: center;
    text-align: center;
}


/* Styles to Modal Windows */

.abrir-modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* Styles for LoginPage */
.form_container_login {
    width: 35%;
}

/* Styles for sidebar open-close */

.custom-sidebar-open {
    width: var(--width-sidebar-open);
}

.custom-main-content-open {
    width: calc(100% - var(--width-sidebar-open));
}

.custom-sidebar-close {
    width: var(--width-sidebar-close);
}

.custom-main-content-close {
    width: calc(100% - var(--width-sidebar-close));
}

/* Responsive desing */

@media screen and (max-width: 1000px) {
    .form_container_login {
        width: 45%;
    }
}

@media screen and (max-width: 767px) {
    .form_container_login {
        width: 60%;
    }

    .center_component {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }

    .custom-sidebar-open {
        width: var(--width-sidebar-close);
    }

    .custom-main-content-open {
        width: calc(100% - var(--width-sidebar-close));
    }
}